body,
html,
div {
    padding: 0;
    margin: 0;
    color: rgb(0, 0, 0);
    font-family: "Consolas";
}

body {
    -webkit-app-region: no-drag;
    /* -webkit-user-select: none; */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

button {
    -webkit-app-region: no-drag;
    background: inherit;
    border: none;
    border-radius: 5px !important;
}

.titlebar {
    -webkit-app-region: drag;
    position: fixed;
    width: 100%;
    height: 28px;
    background: #030018;
    transition: 0.2s;
    top: 0;
    left: 0;
    line-height: 28px;
}

.close,
.minimize {
    font-family: "Material Icons";
    height: 100%;
    float: right;
    display: inline-block;
    text-align: center;
    width: 48px;
    transition: 0.2s;
    -webkit-app-region: no-drag;
}

.close:hover {
    background: red;
}

.minimize:hover {
    background: darkgrey;
}

.title {
    padding-left: 12px;
}

.main-container {
    margin-top: 28px;
    height: 630px;
}

.main-grid {
    height: inherit;
}

.tc {
    text-align: center;
}

.tl {
    text-align: left;
    width: fit-content;
    margin: 0 auto;
}

table {
    margin: 0 auto;
    width: 85%;
    max-width: 85% !important;
    /* border-collapse: separate !important; */
}

.mt {
    margin-top: 28px;
}

.result {
    margin-top: 14px;
}

.control {
    width: 100%;
    height: 78%;
}

.log {
    width: 100%;
    height: 30%;
}

.log-box {
    width: 100%;
    height: 100%;
}

input, textarea{
    max-width: 400px;
    border: 1px solid #000000;
    padding-left: 10px;
    padding-right: 10px;
    outline: none; 
    border: none;
    border:1px solid hsl(0, 0%, 0%);
}

::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1116px) {
    input, textarea {
        width: 75% !important;
    }
    .log {
        height: 7%;
    }
}

input:focus, textarea:focus{
    background-color: rgb(200, 200, 200);
}

.control-box {
    height: 70px;
    width: 100%;
}

.zz {
    background: #97509D;
}


.lineinput+button {
    height: 25px;
    font-size: 0.7em;
}

td {
    text-align: left;
    height: auto;
    color: hsl(0, 0%, 0%);
    /* backdrop-filter: blur(4px); */
    /* --webkit-backdrop-filter: blur(4px); */
    border: 1px solid rgb(0, 0, 0);
    padding-left: 10px; padding-right: 10px;
    padding-top: 5px; padding-bottom: 5px;
}